MINIVOD_DATA=/home/server/downloads
MINIVOD_CACHE=/home/server/vod-cache

MINIVOD_PORT=8079
MINIVOD_BASE_URL=http://192.168.15.7:8079
MINIVOD_ADMIN_USER=admin
MINIVOD_ADMIN_PASSWORD=
MINIVOD_MAX_FFMPEG_JOBS=2

SCAN_INTERVAL=300
